<h3>Crea Prenotazione</h3>
<form (ngSubmit)="onSubmit()">
    <div  class="card text-center" style="padding: 30px;">
        <div class="form-group">
            <label>Data Inizio della Prenotazione</label>
            <input class="form-control date-datepicker" id="dataInizio" [(ngModel)]="prenotazione.dataInizio"
                type="date" name="dataInizio">
        </div>
        <div class="form-group">
            <label>Data fine della Prenotazione</label>
            <input class="form-control date-datepicker" id="dataFine" [(ngModel)]="prenotazione.dataFine" type="date"
                name="dataFine">
        </div>
        <div class="form-group">
            <label>Numero Sdraio</label>
            <input class="form-control" [(ngModel)]="prenotazione.num_sdraio" type="number" id="nuemroSdraio"
                name="numeroSdraio">
        </div>
    </div>
    <button class="btn btn-success" type="submit">Prenota</button>
</form>
<div>
    <button class="btn btn-info" (click)="mostraOmbrelloniLiberi()">Mostra Ombrelloni Liberi</button>
</div>
<div *ngIf="mostraTabella()">
    <h2>Ombrelloni Liberi</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Numero</th>
                <th> QrCode</th>
                <th> Prenota</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ombrellone of ombrelloni">
                <td> {{ombrellone.id}}</td>
                <td> {{ombrellone.qrCode}}</td>
                <td>
                    <button class="btn btn-info" (click)="prenotaOmbrellone(ombrellone.id)">Prenota</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>