<div class="background-wrap">
    <div class="background"></div>
</div>
<div class="container mt-5">
    <div class="card" style="padding: 20px">
        <form action="login" method="post">
            <h4>Login</h4>
            <div class="inset">
                <p>
                    <input type="text" name="username" [(ngModel)]="username" id="email" placeholder="username">
                </p>
                <p>
                    <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="password">
                </p>
            </div>
            <p>
              non sei inscritto
              <a class="nav-link active" aria-current="page" routerLink="/registrazione">Registrati</a>
            </p>
            <p class="p-container">
                <input type="submit" name="Login" id="go" value="Login" (click)="doLogin()">
            </p>
        </form>
    </div>
</div>

